
.idea/workspace.xml
.idea/compiler.xml
.idea/*
.idea/misc.xml
googleDrivePermissions.iml
out.json
target/credentialsDrive.json
target/credentialsSheet.json
target/
driveTokens/StoredCredential
outFolder.json
outDocument.json

PermissionManager\.iml
Report.txt
ChangeOwnerReport.txt
resources/readMe/.idea/encodings.xml
resources/readMe/.idea/misc.xml
resources/readMe/.idea/modules.xml
resources/readMe/.idea/readMe.iml
resources/readMe/.idea/vcs.xml
resources/readMe/.idea/workspace.xml
